.main {
  margin: 25px auto;
  width: 60%;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 25px;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
}

.userAvatar {
  width: 200px;
  margin-right: 20px;
  border-radius: 50%;
}

.userName {
  width: fit-content;
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.userName span {
  position: relative;
  top: 13px;
  padding-left: 10px;
}

.link {
  text-decoration: underline;
  color: blue;
}

.main p {
  margin-top: 10px;
}

.userBio {
  font-size: 20px;
}

@media (max-width: 1023px) {
  .main {
    width: 75%;
  }
}

@media (max-width: 820px) {
  .main {
    width: 90%;
  }
}

@media (max-width: 767px) {
  .main {
    flex-direction: column;
  }
  .userAvatar {
    margin: auto;
  }
}

@media (max-width: 539px) {
  .main {
    width: 99%;
  }
  .userAvatar {
    width: 150px;
  }
  .userName {
    width: 100%;
    flex-direction: column;
    margin-bottom: 40px;
    text-align: center;
  }
  .userName span {
    top: 5px;
  }
}
